
rodape
{
	clear:both;
	background-color: green;
	text-align:center;
	line-height:50px;
}

nav
{
	width:100%;
	height:auto;
	background-color:#ccc;
}

body
{
	background-color: #000; 
}

article
{
	color:#6959CD;
}